.map-container {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 4rem 8rem 12rem;
  margin-top: -6rem;
  position: relative;
}

.map-wrapper h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem; /* Tambahkan padding atas jika perlu */
  font-family: var(--sacramento);
    font-size: var(--fontSize-heading-base);
    font-weight: 400;
    padding: 2rem 1rem; font-weight: 400;
}


.map-container .map-wrapper {
  width: 100%;
  padding: 0 1.5rem 2rem;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1);
  position: relative;

}

.map-container iframe {
  width: 100%;
  height: 35rem; /* Sesuaikan dengan tinggi Galeri */
  border-radius: 15px;
  transition: var(--transition-small);
}

@media (max-width: 768px) {
  .map-container {
      padding: 2rem 4rem 8rem;
  }

  .map-container iframe {
      height: 25rem; /* Sesuaikan dengan layar kecil */
  }
}
